Repository bitcrowd/bitstyles, pull requests merged in 2021-06, with the labels that each got.

#489 [#486] Missing classes: borders
  CHANGELOG.md
  scss/bitstyles/ui/section-heading.stories.mdx
  scss/bitstyles/ui/sidebar.stories.mdx
  scss/bitstyles/utilities/border/_.scss
  scss/bitstyles/utilities/border/border.stories.mdx
  scss/bitstyles/utilities/border/settings.scss
Labels: Built on another PR, Sass/CSS, blocked

#498 [#497] Fix: checkboxes have little white dots
  CHANGELOG.md
  scss/bitstyles/tools/_input--checkbox.scss
Labels: Sass/CSS

#504 Update trim-newlines package
  yarn.lock
Labels: dependencies

#490 [#483] Add an xl breakpoint
  CHANGELOG.md
  scss/bitstyles/atoms/content/_.scss
  scss/bitstyles/atoms/content/settings.scss
  scss/bitstyles/settings/_breakpoints.scss
  scss/bitstyles/tools/_all.scss
  scss/bitstyles/tools/content.scss
Labels: Sass/CSS

#502 [#496] Add utility class: z-index
  CHANGELOG.md
  scss/bitstyles.scss
  scss/bitstyles/tools/_directional-properties.scss
  scss/bitstyles/utilities/z-index/_.scss
  scss/bitstyles/utilities/z-index/settings.scss
  scss/bitstyles/utilities/z-index/z-index.stories.mdx
Labels: Sass/CSS

#506 [#503] Add utility: margin-auto
  CHANGELOG.md
  scss/bitstyles/utilities/margin/margin.stories.mdx
  scss/bitstyles/utilities/margin/settings.scss
Labels: Sass/CSS

#491 [#484] Add component: full app layouts
  CHANGELOG.md
  scss/bitstyles/organisms/table/table.stories.mdx
  scss/bitstyles/ui/app-layouts.stories.mdx
  scss/bitstyles/ui/joined-buttons.stories.mdx
  scss/bitstyles/ui/mode-switch-buttons.stories.mdx
  scss/bitstyles/ui/page-header.stories.mdx
  scss/bitstyles/ui/sidebar.stories.mdx
  scss/bitstyles/ui/table.stories.mdx
  scss/bitstyles/utilities/grid/_.scss
Labels: UI

#492 [#448] Add JS to the examples that need it
  .storybook/preview.js
  .tool-versions
  CHANGELOG.md
  package.json
  scss/bitstyles/atoms/button--nav-large/_.scss
  scss/bitstyles/atoms/dropdown/_.scss
  scss/bitstyles/atoms/dropdown/settings.scss
  scss/bitstyles/atoms/topbar/settings.scss
  scss/bitstyles/atoms/topbar/topbar.stories.mdx
  scss/bitstyles/organisms/modal/modal.stories.mdx
  scss/bitstyles/organisms/modal/settings.scss
  scss/bitstyles/organisms/navbar/_.scss
  scss/bitstyles/organisms/navbar/settings.scss
  scss/bitstyles/organisms/sidebar/_.scss
  scss/bitstyles/organisms/sidebar/settings.scss
  scss/bitstyles/settings/_breakpoints.scss
  scss/bitstyles/settings/_layout.scss
  scss/bitstyles/tools/_topbar.scss
  scss/bitstyles/ui/dropdown-menu.stories.mdx
  scss/bitstyles/ui/filter.stories.mdx
  scss/bitstyles/ui/navbar.stories.mdx
  scss/bitstyles/ui/page-header.stories.mdx
  scss/bitstyles/ui/sidebar.stories.mdx
  yarn.lock
Labels: UI, javascript

#501 [#500] Generate grid classes
  CHANGELOG.md
  scss/bitstyles.scss
  scss/bitstyles/atoms/card/card.stories.mdx
  scss/bitstyles/atoms/dl/dl.stories.mdx
  scss/bitstyles/organisms/modal/modal.stories.mdx
  scss/bitstyles/tools/_directional-properties.scss
  scss/bitstyles/ui/app-layouts.stories.mdx
  scss/bitstyles/ui/dl.stories.mdx
  scss/bitstyles/ui/forms.stories.mdx
  scss/bitstyles/ui/introduction.stories.mdx
  scss/bitstyles/ui/stats.stories.mdx
  scss/bitstyles/utilities/col-span/_.scss
  scss/bitstyles/utilities/col-span/col-span.stories.mdx
  scss/bitstyles/utilities/col-span/settings.scss
  scss/bitstyles/utilities/col-start/_.scss
  scss/bitstyles/utilities/col-start/col-start.stories.mdx
  scss/bitstyles/utilities/col-start/settings.scss
  scss/bitstyles/utilities/grid-cols/_.scss
  scss/bitstyles/utilities/grid-cols/grid-cols.stories.mdx
  scss/bitstyles/utilities/grid-cols/settings.scss
  scss/bitstyles/utilities/grid/_.scss
  scss/bitstyles/utilities/grid/grid.stories.mdx
Labels: Sass/CSS, UI

#513 Update dependencies
  yarn.lock
Labels: dependencies
