Repository bitcrowd/bitstyles, pull requests merged in 2023-01, with the labels that each got.

#706 [#693] Export design tokens to JS
  CHANGELOG.md
  scss/bitstyles/exports/_animation.scss
  scss/bitstyles/exports/_breakpoints.scss
  scss/bitstyles/exports/_color-palette.scss
  scss/bitstyles/exports/_layout.scss
  scss/bitstyles/exports/_shadows.scss
  scss/bitstyles/exports/_typography.scss
  scss/bitstyles/settings/animation.stories.mdx
  scss/bitstyles/settings/breakpoints.stories.mdx
  scss/bitstyles/settings/color-palette.stories.mdx
  scss/bitstyles/settings/shadows.stories.mdx
  scss/bitstyles/settings/sizes.stories.mdx
  scss/bitstyles/settings/typography.stories.mdx
Labels: javascript, Sass/CSS

#703 [#696] Remove some component-level mixins
  CHANGELOG.md
  scss/bitstyles.scss
  scss/bitstyles/atoms/icon/_index.scss
  scss/bitstyles/atoms/link/_index.scss
  scss/bitstyles/atoms/list-reset/_index.scss
  scss/bitstyles/atoms/list-reset/list-reset.stories.mdx
  scss/bitstyles/base/anchor/_index.scss
  scss/bitstyles/generic/_reset.scss
  scss/bitstyles/mixins/_aspect-ratio.scss
  scss/bitstyles/mixins/_clearfix.scss
  scss/bitstyles/mixins/_link.scss
  scss/bitstyles/mixins/_object-cover.scss
  scss/bitstyles/mixins/_truncate.scss
  scss/bitstyles/tools/_absolute-center.scss
  scss/bitstyles/tools/_absolute-cover.scss
  scss/bitstyles/tools/_break-text.scss
  scss/bitstyles/tools/_icon.scss
  scss/bitstyles/tools/_list-inline.scss
  scss/bitstyles/tools/_list-reset.scss
  scss/bitstyles/tools/_sr-only.scss
  scss/bitstyles/tools/_vertical-center.scss
  scss/bitstyles/utilities/absolute-center/_index.scss
  scss/bitstyles/utilities/absolute-center/absolute-center.stories.mdx
  scss/bitstyles/utilities/absolute-cover/_index.scss
  scss/bitstyles/utilities/absolute-cover/absolute-cover.stories.mdx
  scss/bitstyles/utilities/aspect-ratio/_index.scss
  scss/bitstyles/utilities/break-text/_index.scss
  scss/bitstyles/utilities/clearfix/_index.scss
  scss/bitstyles/utilities/object-cover/_index.scss
  scss/bitstyles/utilities/sr-only/_index.scss
  scss/bitstyles/utilities/truncate/_index.scss
  test/scss/fixtures/bitstyles-overrides.css
  test/scss/fixtures/bitstyles.css
  test/scss/test-import-each.scss
  test/scss/test-use-each.scss
Labels: Sass/CSS

#704 [#702] Add utility: list-style
  CHANGELOG.md
  scss/bitstyles.scss
  scss/bitstyles/atoms/badge/badge.stories.mdx
  scss/bitstyles/atoms/button--danger/button--danger.stories.mdx
  scss/bitstyles/atoms/button--nav-large/button--nav-large.stories.mdx
  scss/bitstyles/atoms/button--nav/button--nav.stories.mdx
  scss/bitstyles/atoms/card/card.stories.mdx
  scss/bitstyles/atoms/dropdown/dropdown.stories.mdx
  scss/bitstyles/organisms/modal/modal.stories.mdx
  scss/bitstyles/organisms/navbar/navbar.stories.mdx
  scss/bitstyles/organisms/table/table.stories.mdx
  scss/bitstyles/organisms/ui-group/ui-group.stories.mdx
  scss/bitstyles/ui/Colors.stories.js
  scss/bitstyles/ui/app-layouts.stories.mdx
  scss/bitstyles/ui/breadcrumbs.stories.mdx
  scss/bitstyles/ui/button-groups.stories.mdx
  scss/bitstyles/ui/dropdown-menu.stories.mdx
  scss/bitstyles/ui/filter.stories.mdx
  scss/bitstyles/ui/flashes.stories.mdx
  scss/bitstyles/ui/forms.stories.mdx
  scss/bitstyles/ui/joined-buttons.stories.mdx
  scss/bitstyles/ui/mode-switch-buttons.stories.mdx
  scss/bitstyles/ui/navbar.stories.mdx
  scss/bitstyles/ui/notifications.stories.mdx
  scss/bitstyles/ui/page-header.stories.mdx
  scss/bitstyles/ui/section-heading.stories.mdx
  scss/bitstyles/ui/sidebar.stories.mdx
  scss/bitstyles/ui/table.stories.mdx
  scss/bitstyles/ui/tabs.stories.mdx
  scss/bitstyles/ui/ui-components.mdx
  scss/bitstyles/utilities/col-span/col-span.stories.mdx
  scss/bitstyles/utilities/col-start/col-start.stories.mdx
  scss/bitstyles/utilities/flex/flex.stories.mdx
  scss/bitstyles/utilities/grid-cols/grid-cols.stories.mdx
  scss/bitstyles/utilities/items/items.stories.mdx
  scss/bitstyles/utilities/justify/justify.stories.mdx
  scss/bitstyles/utilities/list/_index.import.scss
  scss/bitstyles/utilities/list/_index.scss
  scss/bitstyles/utilities/list/_settings.scss
  scss/bitstyles/utilities/list/list.stories.mdx
  scss/bitstyles/utilities/row-start/row-start.stories.mdx
  scss/bitstyles/utilities/self/self.stories.mdx
  test/scss/fixtures/bitstyles-overrides.css
  test/scss/fixtures/bitstyles.css
  test/scss/test-import-all.scss
  test/scss/test-import-each.scss
  test/scss/test-use-all.scss
  test/scss/test-use-each.scss
Labels: Sass/CSS, Built on another PR, Documentation

#687 [#683] Add theming
  CHANGELOG.md
  scss/bitstyles.scss
  scss/bitstyles/atoms/button-colors/_index.scss
  scss/bitstyles/atoms/button-colors/_settings.scss
  scss/bitstyles/atoms/button-colors/button-colors.stories.mdx
  scss/bitstyles/atoms/button/_index.scss
  scss/bitstyles/atoms/button/_settings.scss
  scss/bitstyles/atoms/button/button.stories.mdx
  scss/bitstyles/base/html/_index.import.scss
  scss/bitstyles/base/html/_index.scss
  scss/bitstyles/base/html/_settings.scss
  scss/bitstyles/base/html/html.stories.mdx
  scss/bitstyles/base/themes/_index.scss
  scss/bitstyles/base/themes/themes.stories.mdx
  scss/bitstyles/settings/_color-palette.scss
  scss/bitstyles/settings/_themes.import.scss
  scss/bitstyles/settings/_themes.scss
  scss/bitstyles/settings/themes.stories.mdx
  scss/bitstyles/tools/_button.scss
  scss/bitstyles/tools/_custom-properties.scss
  scss/bitstyles/tools/_themes.scss
  scss/bitstyles/ui/buttons.stories.mdx
  test/scss/fixtures/bitstyles-overrides.css
  test/scss/fixtures/bitstyles.css
  test/scss/test-import-all.scss
  test/scss/test-import-each.scss
  test/scss/test-use-all.scss
  test/scss/test-use-each.scss
Labels: Sass/CSS, Built on another PR

#731 [#730] update docs for button colors
  scss/bitstyles/atoms/button-colors/button-colors.stories.mdx
Labels: Documentation

#734 Add justify-content: center to the default configuration for the justify utility class
  scss/bitstyles/utilities/justify/_settings.scss
  scss/bitstyles/utilities/justify/justify.stories.mdx
  test/scss/fixtures/bitstyles.css
Labels: enhancement
